body {
    background-color: palegreen;
}

.navbar {
    background-color: lightgrey;
}

.container#createLeagueForm {
    width: 50%;
}

.form-control {
    size: 40px;
}

.draftbox {
    background-color: white;
    height: 60px;
    border: 2px solid black;
}